body{
    background-color: white;
}

#header{
    width: 150px;
    text-align: center;
    background-color: white;
}

hr{
    border-color: orange;
}
.titoli{
    width: 650px;
}
h1, h2, h4{
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

h4{
    background-color: rgb(243, 228, 208);
    color: green ;
}

.focaccia{
    text-align: center;
    width: 650px;
    border-radius: 10px;

}